$primary-color: #DE4307;
$secondary-color: #F29C2B;
$background-color: #F5F6FA;
$shadow-color: #00000030;

$title-color: #487EB0;
$text-color: #00000070;
$card-color: #FFFFFF;
$border-color: #DDDFE6;

$header-color: #F4F5F9;
$main-color: #FFFFFF;
$footer-color: #F4F5F9;

$track-scroll-color: #F5F6Fa;
$handle-scroll-color: $primary-color;
$hover-scroll-color: $title-color;
